@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url(../webfonts/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: url(../webfonts/OpenSans-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../webfonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url(../webfonts/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url(../webfonts/RobotoSlab-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: url(../webfonts/RobotoSlab-Bold.ttf) format('truetype');
}
