<!DOCTYPE html>
<html>
{{ partial "head.html" . -}}
	<body class="is-preload">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
{{ partial "header.html" . -}}
{{ block "main" . }}{{ end -}}
{{ if (not (default true .Site.Params.copyrightInSidebar)) -}}
{{ partial "footer.html" . -}}
{{ end -}}
				</div>
			</div>
			<div id="sidebar">
				<div class="inner">
{{ partial "sidebar.html" . -}}
{{ if (default true .Site.Params.copyrightInSidebar) -}}
{{ partial "footer.html" . -}}
{{ end -}}
				</div>
			</div>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/browser.min.js"></script>
		<script src="/js/breakpoints.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
