{{ define "main" -}}
	{{ $moreBtnTxt := (default "Learn More" .Site.Params.moreButtonText) -}}
	<section>
		<header class="main">
			<h1>{{ safeHTML .Title }}</h1>
		</header>
	</section>
	{{ .Content }}
	{{ range .Paginator.Pages -}}
	<section id="banner">
		<div class="content">
			<header>
				<h2><a href="{{ .RelPermalink }}">{{ safeHTML .Title }}</a></h2>
				{{ with .Params.subtitle -}}
				<p>{{ . }}</p>
				{{ end -}}
				<p>{{ with .Params.author }}{{ . }}, {{ end -}}
				{{- dateFormat "02.01.2006" (default .Date .PublishDate) }}</p>
			</header>
			<p>{{ .Summary }}</p>
			<ul class="actions">
				<li><a href="{{ .RelPermalink }}" class="button big">{{ default "Learn More" .Site.Params.moreButtonText }}</a></li>
			</ul>
		</div>
		{{- $currentPost := . -}}
		{{ with .Resources.GetMatch "thumbnail" -}}
		<figure class="image object">
			<a href="{{ $currentPost.RelPermalink }}"><img src="{{ .RelPermalink }}" alt="" /></a>
			{{ with .Title -}}
			<figcaption>{{ safeHTML . }}</figcaption>
			{{ end -}}
		</figure>
		{{ end -}}
	</section>
	{{ end -}}
	{{ if (gt .Paginator.TotalPages 1) -}}
	<div class="row aln-center">
		<ul class="pagination">
			<li>{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL }}" class="button">Zurück</a>{{ else }}<span class="button disabled">Zurück</span>{{ end }}</li>
			<li>{{ if eq .Paginator.PageNumber 1 }}<a href="#" class="page active">{{ else }}<a href="{{ .Paginator.First.URL }}" class="page">{{ end }}1</a></li>
			<li>{{ if eq .Paginator.PageNumber 2 }}<a href="#" class="page active">{{ else }}<a href="{{ .Paginator.First.Next.URL }}" class="page">{{ end }}2</a></li>
			{{ if or (and (eq .Paginator.TotalPages 5) (eq .Paginator.PageNumber 1)) (eq .Paginator.PageNumber 5) }}<li><a href="{{ .Paginator.First.Next.Next.URL }}" class="page">3</a></li>{{ end -}}
			{{ if and (gt .Paginator.TotalPages 5) (gt .Paginator.PageNumber 5) }}<li><span>&hellip;</span></li>{{ end -}}
			{{ if gt .Paginator.PageNumber 3 }}<li><a href="{{ .Paginator.Prev.URL }}" class="page">{{ .Paginator.Prev.PageNumber }}</a></li>{{ end -}}
			{{ if gt .Paginator.PageNumber 2 }}<li><a href="#" class="page active">{{ .Paginator.PageNumber }}</a></li>{{ end -}}
			{{ if and .Paginator.HasNext (ge .Paginator.PageNumber 2) }}<li><a href="{{ .Paginator.Next.URL }}" class="page">{{ .Paginator.Next.PageNumber }}</a></li>{{ end -}}
			{{ if and (gt .Paginator.TotalPages 5) (gt (sub .Paginator.TotalPages .Paginator.PageNumber) 4) }}<li><span>&hellip;</span></li>{{ end -}}
			{{ if and (gt .Paginator.TotalPages 5) (eq (sub .Paginator.TotalPages .Paginator.PageNumber) 4) }}<li><a href="{{ .Paginator.Last.Prev.Prev.URL }}" class="page">{{ .Paginator.Last.Prev.Prev.PageNumber }}</a></li>{{ end -}}
			{{ if (gt .Paginator.TotalPages (add .Paginator.PageNumber 2)) }}<li><a href="{{ .Paginator.Last.Prev.URL }}" class="page">{{ .Paginator.Last.Prev.PageNumber }}</a></li>{{ end -}}
			{{ if (gt .Paginator.TotalPages (add .Paginator.PageNumber 1)) }}<li><a href="{{ .Paginator.Last.URL }}" class="page">{{ .Paginator.Last.PageNumber }}</a></li>{{ end -}}
			<li>{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL }}" class="button">Weiter</a>{{ else }}<span class="button disabled">Weiter</span>{{ end }}</li>
		</ul>
	</div>
	{{ end -}}
{{ end }}
