<section style="clear:both">
	<footer id="footer">
		<p class="copyright">{{ .Site.Copyright | safeHTML }}<br/>
		Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		<p class="copyright">
		{{ range $idx, $page := where .Site.RegularPages "Type" "legal" -}}
		{{ if $idx }} &bull; {{ end }}<a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
		{{- end -}}
		</p>
	</footer>
</section>
