<header id="header">
	<a href="{{ .Site.BaseURL }}" class="logo" style="margin-top:auto"><strong>{{ .Site.Title | htmlEscape }}</strong></a>
	<span class="icons">
		{{- with .Site.Params.icon -}}
		<a href="{{ site.BaseURL }}" class="logo"><img src="{{ . }}" alt=""/></a>
		{{- end -}}
	</span>
</header>
