<head>
	<meta charset="utf-8" />
	<title>{{ safeHTML .Title }}
	{{- if not .IsHome }} &ndash; {{ .Site.Title | htmlEscape }}{{ end -}}
	</title>
	{{ with .Description -}}
	<meta name="description" content="{{ htmlEscape . }}"/>
	{{ end -}}
	{{ with .Keywords -}}
	<meta name="keywords" content="{{ htmlEscape . }}"/>
	{{ end -}}
	{{ with .Site.Copyright -}}
	<meta name="copyright" content="{{ htmlEscape . }}"/>
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="theme-color" content="#f56a6a">
	<link rel="stylesheet" href="/css/main.css" />
	{{ with .OutputFormats.Get "RSS" -}}
	{{ printf "<link rel=%q type=%q href=%q />" "alternate" .MediaType .RelPermalink | safeHTML }}
	{{ end -}}
	{{ with .Site.Params.favicon -}}
	<link rel="shortcut icon" href="{{ . }}" type="image/png" sizes="32x32"/>
	{{ end -}}
	{{ with .Site.Params.icon -}}
	<link rel="icon" href="{{ . }}" type="image/png" sizes="192x192"/>
	{{ end -}}
	{{ with .Site.Params.appleTouchIcon -}}
	<link rel="apple-touch-icon" href="{{ . }}" type="image/png" sizes="180x180"/>
	{{ end -}}
	{{ with  .Site.Home.OutputFormats.Get "WebAppManifest" -}}
	<link rel="manifest" href="{{ .RelPermalink }}"/>
	{{ end -}}
	{{ template "_internal/opengraph.html" . -}}
</head>
