<!-- <section id="search" class="alt">
	<form method="get" action="">
		<input type="text" name="query" id="query" placeholder="Search" />
	</form>
</section> -->
<nav id="menu">
	{{ with .Site.Params.menuHeading -}}
	<header class="major">
		<h2>{{ . }}</h2>
	</header>
	{{ end -}}
	<ul>
		{{ $currentPage := . }}
		{{ range .Site.Menus.main -}}
		<li>
			{{- if .HasChildren }}
			{{- if .URL -}}
			<a class="opener{{ if ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
			{{- else -}}
			<span class="opener{{ if ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">{{ .Pre }}{{ .Name }}{{ .Post }}</span>
			{{ end -}}
			<ul>
				{{ range .Children -}}
				<li>
				{{- if ($currentPage.IsMenuCurrent "main" .) }}<strong>{{ end -}}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{- if ($currentPage.IsMenuCurrent "main" .) }}</strong>{{ end -}}
				</li>
				{{ end -}}
			</ul>
			{{ else -}}
			{{- if ($currentPage.IsMenuCurrent "main" .) }}<strong>{{ end -}}
			<a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
			{{- if ($currentPage.IsMenuCurrent "main" .) }}</strong>{{ end -}}
			{{- end -}}
		</li>
		{{ end -}}
	</ul>
</nav>
<!-- <section>
	<header class="major">
		<h2>Ante interdum</h2>
	</header>
	<div class="mini-posts">
		<article>
			<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
		</article>
	</div>
	<ul class="actions">
		<li><a href="#" class="button">More</a></li>
	</ul>
</section> -->
{{ if (isset .Site.Params "contacttext") | or (isset .Site.Params "contactemail") | or (isset .Site.Params "contactphone") | or (isset .Site.Params "contactaddress") | or (isset .Site.Params "contactopenhours") -}}
<section>
	<header class="major">
		<h2>{{ .Site.Params.contactHeading | default "Contact" }}</h2>
	</header>
	{{ with .Site.Params.ContactText -}}
	<p>{{ . }}</p>
	{{ end -}}
	<ul class="contact">
		{{ with .Site.Params.contactEmail -}}
		<li class="icon solid fa-envelope"><a href="mailto:{{ . }}">{{ . }}</a></li>
		{{ end -}}
		{{ with .Site.Params.contactPhone }}<li class="icon solid fa-phone">{{ . | safeHTML }}</li>{{ end }}
		{{ with .Site.Params.contactAddress }}<li class="icon solid fa-home">{{ . | safeHTML }}</li>{{ end }}
		{{ with .Site.Params.contactOpenHours }}<li class="icon solid fa-clock">{{ . | safeHTML }}</li>{{ end }}
	</ul>
</section>
{{- end }}