{{ define "main" }}
	{{ $newsPages := (where .Site.RegularPages "Type" "aktuelles") -}}
	{{ $moreBtnTxt := (default "Learn More" .Site.Params.moreButtonText) -}}
	{{ range first 1 $newsPages -}}
	<section id="banner">
		<div class="content">
			<header>
				<h1><a href="{{ .RelPermalink }}">{{ safeHTML .Title }}</a></h1>
				{{ with .Params.subtitle }}
				<p>{{ . }}</p>
				{{ end -}}
				<p>{{ with .Params.author }}{{ . }}, {{ end -}}
				{{- dateFormat "02.01.2006" (default .Date .PublishDate) }}</p>
			</header>
			<p>{{ .Summary }}</p>
			<ul class="actions">
				<li><a href="{{ .RelPermalink }}" class="button big">{{ $moreBtnTxt }}</a></li>
			</ul>
		</div>
		{{- $currentPost := . -}}
		{{ with .Resources.GetMatch "thumbnail" -}}
		<figure class="image object">
			<a href="{{ $currentPost.RelPermalink }}"><img src="{{ .RelPermalink }}" alt="" /></a>
			{{ with .Title -}}
			<figcaption>{{ safeHTML . }}</figcaption>
			{{ end -}}
		</figure>
		{{ end -}}
	</section>
	{{- end -}}
	{{ if (and (gt (len $newsPages) 1) (gt .Site.Params.postsOnHomepage 0)) -}}
	<section>
		<header class="major">
			<h2>Aktuelles</h2>
		</header>
		<div class="posts">
		{{ range first .Site.Params.postsOnHomepage (after 1 $newsPages) }}
			<article>
				{{- $currentPost := . -}}
				{{ with .Resources.GetMatch "thumbnail" -}}
				<figure class="image">
					<a href="{{ $currentPost.RelPermalink }}"><img src="{{ .RelPermalink }}" alt="" /></a>
					{{ with .Title -}}
					<figcaption>{{ safeHTML . }}</figcaption>
					{{ end -}}
				</figure>
				{{ end -}}
				<h3><a href="{{ .RelPermalink }}">{{ safeHTML .Title }}</a></h3>
				{{ with .Params.subtitle }}
				<p>{{ . }}</p>
				{{ end -}}
				<p>{{ with .Params.author }}{{ . }}, {{ end -}}
				{{- dateFormat "02.01.2006" (default .Date .PublishDate) }}</p>
				<p>{{ .Summary }}</p>
				<ul class="actions">
					<li><a href="{{ .RelPermalink }}" class="button">{{ $moreBtnTxt }}</a></li>
				</ul>
			</article>
		{{ end }}
		</div>
	</section>
	{{ end -}}
	<section>
		<header class="major">
			<h2>Über uns</h2>
		</header>
		<div class="posts">
		{{ range (where .RegularPages "Type" "page") }}
			<article>
				{{- $currentPost := . -}}
				{{ with .Resources.GetMatch "thumbnail" -}}
				<figure class="image">
					<a href="{{ $currentPost.RelPermalink }}"><img src="{{ .RelPermalink }}" alt="" /></a>
					{{ with .Title -}}
					<figcaption>{{ safeHTML . }}</figcaption>
					{{ end -}}
				</figure>
				{{ end -}}
				<h3><a href="{{ .RelPermalink }}">{{ safeHTML .Title }}</a></h3>
				<p>{{ .Summary }}</p>
				<ul class="actions">
					<li><a href="{{ .RelPermalink }}" class="button">{{ $moreBtnTxt }}</a></li>
				</ul>
			</article>
		{{ end }}
		</div>
	</section>
{{ end }}
