{{ range .Page.Resources.Match (default "*" (.Get 0)) -}}
{{ if .Params.download -}}
<p><a href="{{ .RelPermalink }}" class="button{{ with .Params.icon }} icon {{ . }}{{ end }}">{{ .Title }}</a></p>
{{ end -}}
{{ end -}}